<!DOCTYPE html>
<html lang="en">

<head>
{{>header_links}}
</head>

<body>
     {{>navbar}}
      <!-- Hero Section -->
      <div class=" container-fluid main_header">
            <div class="row">
                  <div class="col-md-10 col-12 mx-auto">
                        <div class="row">
                              <!-- right side div -->
                              <div class="col-md-6 col-12 main_header_right">
                                    <figure>
                                          <img src="./images/img3.jpg" alt="about img" class="img-fluid" title="about">
                                    </figure>
                              </div>
                              <!-- left side div -->
                              <div class="col-md-6 col-12 main_header_left">
                                    <p>Welcome to Weather App</p>
                                    <h1>I Am a <span>mern stack developer </span> and a freelancer</h1>
                                    <a href="/about"><button>About Me</button></a>
                              </div>

                        </div>
                  </div>
            </div>
      </div>


      <!-- Footer Section -->
     {{>footer}}
</body>

</html>